body{
    background: #011319;
}

.infoCardPage{
    
    background-image: url(../images/profGame/dontStarveTogether/dotnStarve1.jpeg);
    
    background-size: cover;
    background-position-x: 50%;
    background-repeat: no-repeat;
    
   
}
.infoPage__header{
    backdrop-filter: blur(5px);
}
.info-desc{
    
    backdrop-filter: blur(20px);
    border-radius: 40px;
    margin-left: 15px;
    padding: 50px;
}
.ingoPage__header-title{
    font-size: 34px;
    color:#fff;
    padding: 10px 7px;
    margin-left: 15px;  
    margin-top: 15px;
    text-transform: uppercase;
}
.infoPage__rating{
    font-size: 25px;
    padding: 15px 5px;
    font-weight: 600;
    color: #fff;
    margin-left: 15px;
}
.infoPage-rate{
    font-size: 27px;
    font-weight: 900;
    color: rgb(0, 255, 0);
    border-bottom: 1px solid green;
}
.info{
    font-size: 23px;
    font-weight: 500;
    color: #fff;
}
.info-description{
    font-size: 23px;
    margin-top: 10px;
    font-weight: 800;
    color: #ffffff;
    background: #00000085;
    border-radius: 10px;
    border: 1px dotted white;
    padding: 20px;
}
.moreDescr{
    position: relative;
    color: #fff;
}
.moreDescriptBnt{
    width: 35px;
    height: 35px;
    background: inherit;
    border:none;
    position: absolute;
}

.moooreDescriptBtn{
    width: inherit;
}

.info-price-group p{
    font-size: 25px;
    margin-top: 5px;
    color: #fff;
}
.info-price-group p:last-child{
    margin-bottom: 17px;
}
.proceCount{
    text-align: center;
    padding-bottom: 5px;
    font-weight: bold;
    color: rgb(0, 255, 0);
}
.inf0-price-group{
    text-align: center;
    color: #fff;
}
.infoMainAbout{
    backdrop-filter: blur(5px);
    padding: 30px;
}
.infoMainAbout__descriptions p,
.infoMainAbout__descriptions h3{
    color: #fff;
}
.infoMainAbout__activation{
    padding-left: 30px;
}
.activation-list{
    background: #00000085;
    border-radius: 10px;
    border: 1px dotted white;
    padding: 20px;
    font-size: 20px;
    width: 900px;
}
.activation-item{
    margin-left: 10px;
    padding: 5px 5px;
}

.infoMainAbout__activation .activation-item,
.infoMainAbout__activation h3,
.activation-list,
.activation-list li{
    color: #fff;
}
.infoMainAbout__requirements p
{
    color: #fff;
}
.infoMainAbout__detals p,
.infoMainAbout__detals h3,
.detal-item-title{
    color: #fff;
}

.infoMainAbout__descriptions{
    border-radius: 10px;
    padding: 30px;
}

.infoMain__description{
    font-size: 24px;
    margin-bottom: 20px;
    background: #00000085;
    border-radius: 10px;
    border: 1px dotted white;
    padding: 20px;
}
.activation-info{
    text-transform: uppercase;
    margin-top: 15px;
    font-weight: 900;
    border-radius: 10px;
    border: 1px dotted rgb(190, 0, 0);
    padding: 20px;
    display: inline-block;
    color: rgb(223, 0, 0);
    background: #000000f0;
    letter-spacing: 3px;
}
.infoMainAbout__requirements{
    margin-left: 30px;
    background: #00000085;
    border-radius: 10px;
    border: 1px dotted white;
    padding: 20px;
    margin-top: 15px;
}
.infoMain__title{
    font-size: 35px;
    margin-bottom: 5px;
    color: white;
    background: #00000054;
    border-radius: 10px;
    display: inline-block;
    border: 1px solid black;
    padding: 20px;
}
.req-title{
    font-size: 30px;
    border-bottom: 1px solid white;
    display: inline-block;
    margin-bottom: 15px;
}
.req-item{
    margin-bottom: 3px;
}
.req-group-left .req-item{
    font-size: 18px;
    color: rgb(255, 255, 255);
    border-right: 1px solid white;
    margin-right: 17px;
    padding-right: 10px;
}
.req-group-right .req-item{
    font-size: 18px;
}
.info-detals-group{
    background: #00000088;
    border-radius: 10px;
    border: 1px solid black;
    padding: 20px;
    margin-right: 30px;
}
.detal-item-title{
    font-size: 19px;
    margin-right: 17px;
    padding-right: 10px;
    margin-bottom: 10px;
}
.detal-item p{
    font-size: 21px;
    margin-bottom: 20px;
}
.info-detals-item:not(:last-child){
    margin-bottom: 15px;
    border-bottom: 1px solid white;
}